<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metriclients</title>

<script src="/assets/js/vendor/jquery-2.1.0.min.js"></script>
<script src="/assets/js/vendor/neon/neon.js"></script>
<script src="/assets/js/vendor/neon/stdLib/NodeSupport.js"></script>
<script src="/assets/js/vendor/neon/stdLib/CustomEvent.js"></script>
<script src="/assets/js/vendor/neon/stdLib/CustomEventSupport.js"></script>
<script src="/assets/js/vendor/neon/stdLib/Widget.js"></script>

<script src="/assets/js/narnia-bot.js"></script>

</head>
<body>
    <div class="wrapper">

    </div>
</body>
</html>